.header{
    height:48px;
    width:calc(100% - 180px);
    background-color: #fff;
    float:right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px 0 18px;
}
.header-left{  
    display:flex;
    align-items: center;
               
}
    .header-left__menu-icon{
        background-image: url(/assets/img/Sprites.64af8f61.svg);
        background-position: -843px -30px;
        width:24px;
        height:24px;
    }
    .header-left__text{
        margin-left:24px;
        font-size:14px;
        font-weight:600;
    }
    .header-left__dropdown-icon{
        background-image: url(/assets/img/Sprites.64af8f61.svg);
        background-position: -1128px -360px;
        width:24px;
        height:24px;
        margin-left:10px;
        margin-top:8px;
    }
.header-right{
    display:flex;
    align-items:center;
}
    .header-right__notifi-icon{
        background-image: url(/assets/img/Sprites.64af8f61.svg);
        background-position: -788px -30px;
        width:24px;
        height:24px;
        margin-right:22px;
    }
    .header-right__avatar{
        background-image: url(/assets/img/Sprites.64af8f61.svg);
        background-position: -352px -894px;
        width:32px;
        height:32px;
        margin-right:6px;
        border-radius:50%;
        transform: scale(0.9);
    }
    .header-right__text-name{
        margin-right:12px;
        font-size:14px;
        font-weight:600;
    }
    .header-right__dropdown-icon{
        background-image: url(/assets/img/Sprites.64af8f61.svg);
        background-position:  -1128px -360px;
        width:16px;
        height:16px;
        margin-top:0px
    }