.navbar{
    width:180px;
    height:100%;
    background-color:#38393d;
    float:left;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-header{
    display:flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 10px;
    align-items:center;
    position: sticky;
    top:0;
    left:0;
}
    .navbar-header__toggle{
        background-image: url(/assets/img/Sprites.64af8f61.svg);
        background-position: -424px -86px;
        width:24px;
        height:24px;
        margin-right:10px;
    }
    .navbar-header__logo{
        background-image: url(/assets/img/Logo_Module_TiengViet_White.66947422.svg) ;
        background-size:contain;
        background-repeat: no-repeat;
        width:96px;
        height:32px;   
    }
.navbar-menu{
    height:100vw;
    padding:14px 0 0;
    
}
/* #menu::-webkit-scrollbar {
    width:6px;
    background-color:#fff;
}
#menu::-webkit-scrollbar-thumb {
    background-color:#ced7e1;
}
#menu::-webkit-scrollbar-thumb:hover{
    background-color:#787a80;
} */
    .navbar-menu-item{   
        display:flex;
        align-items:center;
        padding:0px 14px 0px 8px;
        height:42px;
    }
    .navbar-menu-item:hover{
        cursor: pointer;
        background-color:#58595d;
    }
    .navbar-menu-item.selected{
        border-left: 6px solid #2CA01C;
        padding-left:0px;
        font-weight:700;
        background-color:#58595d
    }
     
        .navbar-menu-item__icon{
            width:24px;
            height:24px;
            margin-left:8px;
        }
        .navbar-menu-item__title{
            color:#fff;
            margin-left:10px;
            font-family:Notosans ;
            
        }
        .icon-dashboard {
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -30px -1628px;
        }
        .icon-cash{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -73px -1628px;
        }
        .icon-bank{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -117px -1628px;
        }
        .icon-buy{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -161px -1628px;
        }
        .icon-sell{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -204px -1628px;
        }
        .icon-invoice{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -249px -1628px;
        }
        .icon-storehouse{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -292px -1628px;
        }
        .icon-tool{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -336px -1628px;
        }
        .icon-assets{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -378px -1628px;
        }
        .icon-tax{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -423px -1628px;
        }
        .icon-price{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -467px -1628px;
        }
        .icon-synthetic{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -510px -1628px;
        }
        .icon-budget{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -378px -1659px;
        }
        .icon-report{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -550px -1628px;
        }
        .icon-analys{
            background-image: url(/assets/img/Sprites.64af8f61.svg);
            background-position: -205px -1659px;
        }
/****************TaÌ£o Thanh Scroll************************/
/* #menu::-webkit-scrollbar{
    width:4px;
}
#menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    border-radius: 3px;
}
 
#menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
} */
