@import url(/css/layout/content.css);
@import url(/css/layout/navbar.css);
@import url(/css/layout/header.css);
@import url(/css/components//table.css);
@import url(/css/components//common.css);
@import url(/css/components//pagging.css);
@import url(/css/components/dialog.css);
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
@font-face {
    font-family:Notosans ;
    src: url(/assets/fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
    font-family: Notosans-bold;
    src: url(/assets/fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
    font-family: Notosans-italic;
    src: url(/assets/fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
    font-family: Notosans-regular;
    src: url(/assets/fonts/notosans-regular.2cb88a13.woff2);
}
body{
    font-family:Notosans;
    font-size: 13px;
    overflow: hidden;
}