.dialog-box{
    /* display:none; */
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.6);
}
.dialog{
    width:900px;
    height:612px;
    background-color:#fff;
    position:absolute;
    top:14%;
    left:27%;
}
.dialog-header{
    display:flex;
    justify-content: space-between;
}
.dialog-header__left{
    display:flex;
    padding:20px 12px 20px 32px;
}
    .dialog-header__left-title{
        font-size: 24px;
        font-weight:700;
    }
    .dialog-header__left-checkbox{
        display:flex;
        margin-top:6px;
        padding-left: 20px;
    }  
    
        .customer{
            width:156px;
            display:flex;
            
        }   
            .customer-checkbox{
                display: inline-block;
                width: 24px;
                height:24px;
            }
        .supplier{
            display:flex;
        }   
            .supplier-checkbox{
                display: inline-block;
                width: 22px;
                height:22px;
            }

            .check-title{
                display:inline-block;
                margin-top:4px;
                margin-left:12px;
                font-size: 13px;
                
            }


.dialog-header__right{
    display:flex;
    padding:12px;
}
    .help-icon{
        background-image: url(/assets/img/Sprites.64af8f61.svg);
        background-position: -732px -31px;
        width:22px;
        height:22px;
        margin-right: 8px;
        cursor: pointer;
    }
    .close-icon{
        background-image: url(/assets/img/Sprites.64af8f61.svg);
        background-position: -147px -147px;
        width:18px;
        height:18px;
        background-color:#fff;
        margin-top:2px;
        cursor: pointer;
    }

.dialog-form{
    padding:0 32px;
    
}
label{
    display:block;
    margin-bottom:4px;
    font-size:12px;
    font-weight:700;
}
.row{
    display:flex;
    width: 100%;
    margin-top:8px;
}
.col{
    display:flex;
    width:50%;
    margin-top:8px;
}
.col-2-3{
    width:66.67%;
    display:flex;
    margin-top:8px;
}

.employeeGender{
    display:flex;
    align-items:center
}
.m-input{
    height:32px;
    border:1px solid #bbb;
    width:100%;
    outline:none;
    padding-left:6px;
    border-radius: 4px;
}
.m-input:focus{
    border:1px solid #2ca01c;
    
}
.m-combobox{
    width:392px;    
    height:32px;
    border:1px solid #bbb;
    outline:none;
}
.employeeCode{
    width:150px;
    margin-right:6px;
}
.employeeName{
    width:235px
}
.employeeDate{
    width:160px;
}
/**********************CSS cho button radio************/


.employeeGender{
    position: relative;
    margin-left:16px;
    width:220px;
    margin-top:18px;
    
}
.gender{
    display:flex;
    
}
.input-radio{
    position:absolute;
    cursor: pointer;
    display:block;
    width: 20px;
    height:20px;
    opacity: 0;
    z-index: 5;
}
.label-radio{
    display:block;
    position:relative;
    cursor: pointer;
    margin-left:28px;
    margin-right:14px;
    margin-top:1px;
}
.css-check{
    display:block;
    position:absolute;
    border: 1px solid #bbb;
    border-radius: 100%;
    height:20px;
    width: 20px; 
    cursor: pointer;
}
.css-check::before{
    display:block;
    position:absolute;
    content:"";
    border-radius:100%;
    height: 10px;
    width: 10px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
}
.input-radio:checked ~ .css-check {
    border:2px solid #2ca01c;
}
.input-radio:checked ~ .css-check::before {
    background-color: #2ca01c;
    
}

/**********************************************************/
.passport{
    width:245px;
}
.passport-date{
    width:167px;
    margin-left:6px;
}
.position{
    width:392px
}
.product-at{
    width:418px;
}
.address{
    margin-top:16px;
    width:100%;
}
.phone-number{
    width:197px
}
.phone-number-de{
    width:197px;
    margin-left:6px
}
.email{
    width:203px;
    margin-left:6px;
}
.number-bank{
    width:197px;
}
.name-bank{
    width:197px;
    margin-left:6px
}
.branch{
    width:203px;
    margin-left:6px;
}
.dialog-footer{
    border-top:1px solid #bbb;
    padding-top:40px;
    margin-top:40px;
    margin-left:32px;
    margin-right:32px;
   
}
.btn-cancel{
    width:60px;
    height:34px;
    background-color:#fff;
    color:#111;
    border: 1px solid #111;
    border-radius:3px
}
.btn-cancel:hover{
    background-color:#bbb;
    cursor: pointer;
}
.btn-save{
    width:60px;
    height:34px;
    background-color:#fff;
    color:#111;
    border: 1px solid #111;
    border-radius:3px;
    margin-left:580px;
    margin-right:6px;
}
.btn-save:hover{
    background-color:#bbb;
    cursor:pointer;
}
.btn-all{
    width:113px;
    height:34px;
    background-color:#2ca01c;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 4px;
}
.btn-all:hover{
    background-color:#109160;
    cursor: pointer;
}